@(person: Form[CreatePersonForm])(implicit messages: Messages)

@import helper._

@main("List person") {
	<script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>

	<ul id="persons"></ul>

  @form(routes.PersonController.addPerson()) {
		@inputText(person("name"))
        @inputText(person("lastName"))
		@inputText(person("age"))

		<div class="buttons">
			<input type="submit" value="Save Person"/>
		</div>
	}

    <a class="btn" href="/searchIndex" >
    Search page
    </a>
}
